In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
df_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [3]:
df_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1307 non-null   object
 1   adult                  1306 non-null   float64
 2   backdrop_path          660 non-null    object
 3   belongs_to_collection  88 non-null     object
 4   budget                 1306 non-null   float64
 5   genres                 1306 non-null   object
 6   homepage               110 non-null    object
 7   id                     1306 non-null   float64
 8   original_language      1306 non-null   object
 9   original_title         1306 non-null   object
 10  overview               1278 non-null   object
 11  popularity             1306 non-null   float64
 12  poster_path            1144 non-null   object
 13  production_companies   1306 non-null   object
 14  production_countries   1306 non-null   object
 15  release_date           1298 non-null   object
 16  revenue                1306 non-null   float64
 17  runtime                1306 non-null   float64
 18  spoken_languages       1306 non-null   object
 19  status                 1306 non-null   object
 20  tagline                539 non-null    object
 21  title                  1306 non-null   object
 22  video                  1306 non-null   float64
 23  vote_average           1306 non-null   float64
 24  vote_count             1306 non-null   float64
 25  certification          430 non-null    object
dtypes: float64(9), object(17)
memory usage: 265.6+ KB

In [4]:
df_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1309 non-null   object
 1   adult                  1308 non-null   float64
 2   backdrop_path          663 non-null    object
 3   belongs_to_collection  88 non-null     object
 4   budget                 1308 non-null   float64
 5   genres                 1308 non-null   object
 6   homepage               110 non-null    object
 7   id                     1308 non-null   float64
 8   original_language      1308 non-null   object
 9   original_title         1308 non-null   object
 10  overview               1280 non-null   object
 11  popularity             1308 non-null   float64
 12  poster_path            1146 non-null   object
 13  production_companies   1308 non-null   object
 14  production_countries   1308 non-null   object
 15  release_date           1300 non-null   object
 16  revenue                1308 non-null   float64
 17  runtime                1308 non-null   float64
 18  spoken_languages       1308 non-null   object
 19  status                 1308 non-null   object
 20  tagline                541 non-null    object
 21  title                  1308 non-null   object
 22  video                  1308 non-null   float64
 23  vote_average           1308 non-null   float64
 24  vote_count             1308 non-null   float64
 25  certification          433 non-null    object
dtypes: float64(9), object(17)
memory usage: 266.0+ KB

In [5]:
df_list = [df_2000, df_2001]

final_df = pd.concat(df_list)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2616 entries, 0 to 1308
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2616 non-null   object
 1   adult                  2614 non-null   float64
 2   backdrop_path          1323 non-null   object
 3   belongs_to_collection  176 non-null    object
 4   budget                 2614 non-null   float64
 5   genres                 2614 non-null   object
 6   homepage               220 non-null    object
 7   id                     2614 non-null   float64
 8   original_language      2614 non-null   object
 9   original_title         2614 non-null   object
 10  overview               2558 non-null   object
 11  popularity             2614 non-null   float64
 12  poster_path            2290 non-null   object
 13  production_companies   2614 non-null   object
 14  production_countries   2614 non-null   object
 15  release_date           2598 non-null   object
 16  revenue                2614 non-null   float64
 17  runtime                2614 non-null   float64
 18  spoken_languages       2614 non-null   object
 19  status                 2614 non-null   object
 20  tagline                1080 non-null   object
 21  title                  2614 non-null   object
 22  video                  2614 non-null   float64
 23  vote_average           2614 non-null   float64
 24  vote_count             2614 non-null   float64
 25  certification          863 non-null    object
dtypes: float64(9), object(17)
memory usage: 551.8+ KB

In [6]:
final_df.isna().sum()

imdb_id                     0
adult                       2
backdrop_path            1293
belongs_to_collection    2440
budget                      2
genres                      2
homepage                 2396
id                          2
original_language           2
original_title              2
overview                   58
popularity                  2
poster_path               326
production_companies        2
production_countries        2
release_date               18
revenue                     2
runtime                     2
spoken_languages            2
status                      2
tagline                  1536
title                       2
video                       2
vote_average                2
vote_count                  2
certification            1753
dtype: int64

In [7]:
final_df.dropna(inplace=True)

In [8]:
rev_filter = final_df['revenue'] > 0
budget_filter = final_df['budget'] > 0
financial_df = final_df.loc[rev_filter & budget_filter,:]

financial_df['imdb_id'].nunique()

11

Quesiton 1: 11 titles

In [9]:
financial_df['certification'].value_counts()

PG       10
PG-13     8
R         6
G         2
Name: certification, dtype: int64

In [10]:
financial_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 12 to 578
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                26 non-null     object
 1   adult                  26 non-null     float64
 2   backdrop_path          26 non-null     object
 3   belongs_to_collection  26 non-null     object
 4   budget                 26 non-null     float64
 5   genres                 26 non-null     object
 6   homepage               26 non-null     object
 7   id                     26 non-null     float64
 8   original_language      26 non-null     object
 9   original_title         26 non-null     object
 10  overview               26 non-null     object
 11  popularity             26 non-null     float64
 12  poster_path            26 non-null     object
 13  production_companies   26 non-null     object
 14  production_countries   26 non-null     object
 15  release_date           26 non-null     object
 16  revenue                26 non-null     float64
 17  runtime                26 non-null     float64
 18  spoken_languages       26 non-null     object
 19  status                 26 non-null     object
 20  tagline                26 non-null     object
 21  title                  26 non-null     object
 22  video                  26 non-null     float64
 23  vote_average           26 non-null     float64
 24  vote_count             26 non-null     float64
 25  certification          26 non-null     object
dtypes: float64(9), object(17)
memory usage: 5.5+ KB

In [17]:
with pd.option_context('display.float_format', '${:0.2f}'.format):
   print(financial_df.groupby('certification', as_index=False)['revenue'].mean())

  certification       revenue
0             G $579707738.00
1            PG $446322213.20
2         PG-13 $554268371.75
3             R  $37166104.00

In [18]:
with pd.option_context('display.float_format', '${:0.2f}'.format):
   print(financial_df.groupby('certification', as_index=False)['budget'].mean())

  certification        budget
0             G $115000000.00
1            PG  $85000000.00
2         PG-13  $75250000.00
3             R  $11066666.67

In [22]:
## Save current dataframe to file.
financial_df.to_csv("Data/tmdb_results_combined.csv.gz",compression='gzip',index=False)

In [23]:
# Open saved file and preview again
financial_df = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
financial_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,The Lord of the Rings: The Fellowship of the Ring,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
1,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,Shrek,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
2,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,The Lord of the Rings: The Fellowship of the Ring,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
3,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,Shrek,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
4,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,"Monsters, Inc.",...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.8,15649.0,G