In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import seaborn as sns

# Additional Imports
import json
from scipy import stats

#sql imports
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
# Open saved file and preview again
df = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,74,"Horror,Music,Thriller"

In [4]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"
...,...,...,...,...,...,...,...,...,...
81682,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,74,Drama,[Drama]
81683,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama,[Drama]
81685,tt9916190,movie,Safeguard,Safeguard,0,2020,90,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81686,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History","[Drama, History]"

In [5]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...
81685,tt9916190,movie,Safeguard,Safeguard,0,2020,90,"Action,Adventure,Thriller",Action
81685,tt9916190,movie,Safeguard,Safeguard,0,2020,90,"Action,Adventure,Thriller",Adventure
81685,tt9916190,movie,Safeguard,Safeguard,0,2020,90,"Action,Adventure,Thriller",Thriller
81686,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",Drama
81686,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",History

In [6]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [8]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [9]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## make new integer genre_id and drop string genres
df['genre_id'] = df['genres_split'].replace(genre_id_map)

In [12]:
# Using pd.DataFrame and a dictionary
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                         'Genre_ID':genre_id_map.values()})
genre_lookup.head(5)

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
df.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,genres_split,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama,[Drama],[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama,[Drama],[Drama]

In [14]:
df = df.drop(columns=['originalTitle','isAdult','titleType','isAdult','genres','genres_split'])
df.head(3)

,tconst,primaryTitle,startYear,runtimeMinutes,genre_id
0,tt0035423,Kate & Leopold,2001,118,"[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70,[Drama]
2,tt0069049,The Other Side of the Wind,2018,122,[Drama]

# SQL

In [15]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/movies"

In [16]:
#creates database engine
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [17]:
## Check if database exists, if not, create it
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

In [18]:
#verifies database
database_exists(connection_str)

True

In [52]:
df.dtypes

tconst            object
primaryTitle      object
startYear          int64
runtimeMinutes     int64
genre_id          object
dtype: object

In [55]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = df['tconst'].fillna('').map(len).max()
title_len = df['primaryTitle'].fillna('').map(len).max()
max_str_len = df['genre_id'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'tconst': String(key_len+1), 
    'primaryTitle': Text(title_len+1),
    'startYear':Integer(),
    'runtimeMinutes':Integer(),
    'genre_id':Text(max_str_len+1)}

In [ ]:
# Save to sql with dtype and index=False
df.to_sql('title_basics',engine,if_exists='replace',index=False);

In [57]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [58]:
#shows tables in new database
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0     title_basics

In [67]:
q = """SELECT *
FROM title_basics
LIMIT 5
"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [tconst, primaryTitle, startYear, runtimeMinutes, genre_id]
Index: []

In [63]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1892
1  tt0000002            5.9       253
2  tt0000003            6.5      1686
3  tt0000004            5.7       166
4  tt0000005            6.2      2503

In [64]:
ratings.to_sql('title_ratings', engine, if_exists = 'replace')

In [66]:
q = """SELECT *
FROM title_ratings
LIMIT 5
"""
pd.read_sql(q, engine)

   index     tconst  averageRating  numVotes
0      0  tt0000001            5.7      1892
1      1  tt0000002            5.9       253
2      2  tt0000003            6.5      1686
3      3  tt0000004            5.7       166
4      4  tt0000005            6.2      2503

In [68]:
genre_lookup.to_sql('genres', engine, if_exists = 'replace')

In [69]:
q = """SELECT *
FROM genres
LIMIT 5
"""
pd.read_sql(q, engine)

   index Genre_Name  Genre_ID
0      0     Action         0
1      1      Adult         1
2      2  Adventure         2
3      3  Animation         3
4      4  Biography         4

In [70]:
tmdb_data = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
tmdb_data.head(5)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,The Lord of the Rings: The Fellowship of the Ring,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
1,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,Shrek,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
2,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,The Lord of the Rings: The Fellowship of the Ring,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
3,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,Shrek,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
4,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,"Monsters, Inc.",...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.8,15649.0,G

In [71]:
tmdb_data.to_sql('tmdb_data', engine, if_exists = 'replace')

In [72]:
q = """SELECT *
FROM tmdb_data
LIMIT 5
"""
pd.read_sql(q, engine)

,index,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
1,1,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
2,2,tt0120737,0.0,/keyOZ8KcjHMTVH8p0owTXvw18Wf.jpg,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120.0,en,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,21139.0,PG-13
3,3,tt0126029,0.0,/sRvXNDItGlWCqtO3j6wks52FmbD.jpg,"{'id': 2150, 'name': 'Shrek Collection', 'post...",60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://www.dreamworksanimation.com/shrek/,808.0,en,...,487853320.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The greatest fairy tale never told.,Shrek,0.0,7.7,14030.0,PG
4,4,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.8,15649.0,G

In [74]:
title_genres.to_sql('title_genres', engine, if_exists = 'replace')

In [75]:
q = """SELECT *
FROM title_genres
LIMIT 5
"""
pd.read_sql(q, engine)

   index     tconst genres_split
0      0  tt0035423       Comedy
1      0  tt0035423      Fantasy
2      0  tt0035423      Romance
3      1  tt0062336        Drama
4      2  tt0069049        Drama

In [76]:
#shows tables in new database
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data