In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)
akas = pd.read_csv(akas_url,sep='\t', low_memory=False)

# Basics

In [4]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9042656 entries, 0 to 9042655
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 620.9+ MB

In [5]:
basics['titleType'].unique()

array(['short', 'movie', 'tvEpisode', 'tvSeries', 'tvShort', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [6]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
basics.replace({'\\N':np.nan},inplace=True)
basics.replace({'\\\\N':np.nan},inplace=True)

In [10]:
basics.dropna(subset=['runtimeMinutes','genres', 'startYear'],inplace=True)

In [12]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear               0
endYear           2287100
runtimeMinutes          0
genres                  0
dtype: int64

In [16]:
basics = basics[basics['titleType'] == 'movie']

In [17]:
basics['titleType'].unique()

array(['movie'], dtype=object)

In [19]:
basics['endYear'].unique()

array([nan], dtype=object)

In [20]:
basics['startYear'] = basics['startYear'].astype(str).astype(int)

In [21]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [22]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272587 entries, 570 to 9042505
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          272587 non-null  object
 1   titleType       272587 non-null  object
 2   primaryTitle    272587 non-null  object
 3   originalTitle   272587 non-null  object
 4   isAdult         272587 non-null  object
 5   startYear       272587 non-null  int32
 6   endYear         0 non-null       object
 7   runtimeMinutes  272587 non-null  object
 8   genres          272587 non-null  object
dtypes: int32(1), object(8)
memory usage: 19.8+ MB

In [26]:
year_upper_filter = basics['startYear'] <= 2022
year_lower_filter = basics['startYear'] >= 2000

In [27]:
df_filtered = basics.loc[year_upper_filter & year_lower_filter, :]
df_filtered

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9042328,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9042337,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9042376,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,NaN,84,Thriller
9042421,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9042505,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama

# AKAs

In [28]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32500605 entries, 0 to 32500604
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.9+ GB

In [29]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [31]:
akas = akas[akas['region'] == 'US']
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [32]:
akas.replace({'\\N':np.nan},inplace=True) 
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [37]:
akas.isna().sum()

titleId                  0
ordering                 0
title                    0
region                   0
language           1328536
types               305787
attributes         1287872
isOriginalTitle       1375
dtype: int64

# Ratings

In [33]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252034 entries, 0 to 1252033
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1252034 non-null  object
 1   averageRating  1252034 non-null  float64
 2   numVotes       1252034 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ MB

In [34]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1891
1  tt0000002            5.9       253
2  tt0000003            6.5      1684
3  tt0000004            5.7       166
4  tt0000005            6.2      2502

In [36]:
ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

# Filtering

In [38]:
keepers =basics['tconst'].isin(akas['titleId'])
keepers

570         True
587         True
672         True
1172       False
1273        True
           ...
9042328     True
9042337     True
9042376    False
9042421     True
9042505    False
Name: tconst, Length: 272587, dtype: bool

In [39]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1273,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,NaN,50,"Biography,Drama,Family"
1485,tt0001498,movie,The Battle of Trafalgar,The Battle of Trafalgar,0,1911,NaN,51,War
...,...,...,...,...,...,...,...,...,...
9041792,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9042188,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9042328,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9042337,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9042421,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

# Saving file

In [40]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [41]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [42]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
2,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
3,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,NaN,50,"Biography,Drama,Family"
4,tt0001498,movie,The Battle of Trafalgar,The Battle of Trafalgar,0,1911,NaN,51,War

In [43]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [44]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1891
1  tt0000002            5.9       253
2  tt0000003            6.5      1684
3  tt0000004            5.7       166
4  tt0000005            6.2      2502

In [45]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [46]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0